.movie-card {
  width: 200px;
  height: 200px;
  margin: 5px;
  box-shadow: 2px 2px red;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.movie-card:hover {
  transform: scale(1.05)
}

.movie-card:active {
  transform: rotateY(180deg) scale(1.05);
}
